.body-app {
    .sign-up-container {
        width: 460px;
        height: 450px;
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 32px;
        border-radius: 10px;
        background: var(--body-color);
        opacity: 95%;

        .form-name {
            font-family: var(--main-font);
            color: var(--main-font-color);
            font-size: 25px;
            font-style: bold;
            margin: 0px auto 10px;
        }

        .form-2 {
            display: flex;
            flex-direction: column;

            .info {
                width: 400px;
                height: 40px;
                border: 1px solid var(--main-font-color);
                border-radius: 999px;
                margin: 5px auto;
            }

            .different {
                margin: 5px auto 10px;
                width: 405px;
                height: 40px;
                display: flex;
                gap: 5px;
                align-items: center;

                .info-2 {
                    margin: auto;
                    height: 40px;
                    border: 1px solid var(--main-font-color);
                    border-radius: 999px;

                    &:first-child {
                        flex: 1.15;
                        height: 42px;
                    }

                    &:last-child {
                        flex: 2;
                    }
                }
            }
        }

        .pass-required {
            font-size: 14px;
            margin: 5px 0px 5px 50px;
        }

        .sign-up {
            margin: 20px auto 0px;
            color: var(--text-font-color);
            padding: 10px 50px;
            border-radius: 999px;
            border: 2px solid var(--main-font-color);
            background: var(--main-font-color);
            text-decoration: none;
            color: white;
            font-size: 18px;
            cursor: pointer;

            &:hover {
                background: white;
                color: var(--main-font-color);
            }

        }

        .sign-in {
            font-size: 14px;
            margin: auto;
            display: flex;
            align-items: center;

            a {
                color: var(--text-font-color);
                text-decoration: none;
                padding: 5px 15px;
                background: var(--body-color);
                margin: 15px auto;
                border: 1px solid var(--main-font-color);
                border-radius: 999px;
                margin-left: 10px;

                &:hover {
                    background: white;
                }
            }
        }
    }

}