.BRBook-setting {
    border-top: 1px solid var(--main-font-color);
    height: 82.5%;
    background: var(--body-color);
    display: flex;

    .change-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 700px;
        height: 420px;
        margin: auto;
        gap: 70px;

        .br-change {
            display: flex;
            gap: 100px;

        }

        .valid-change {
            margin-left: 35px;

            .option-differ {
                height: 55px;
                width: 600px;
                display: flex;
                flex-direction: column;

                span {
                    margin-left: 50px;
                    font-family: var(--main-font);
                    font-size: clamp(12.8px, 1.05vw, 16px);
                }

                .type {
                    display: flex;
                    align-items: center;
                    gap: 15px;

                    .icon-change {
                        width: 30px;
                        height: 30px;
                    }

                    input {
                        width: 515px;
                        text-indent: 0px;
                        height: 25px;
                        border: none;
                        background: var(--body-color);
                        border-bottom: 1px solid var(--text-font-color);
                    }
                }
            }
        }

        .ending-row {
            display: flex;
            gap: 20px;

            .refresh-btn {
                display: none;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 100px;
                background: var(--body-font-color);
                border: solid 1px var(--main-font-color);
                border-radius: 15px;

                &:hover {
                    background: var(--main-font-color);
                    color: white;
                    cursor: pointer;
                }
            }

            .save-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 200px;
                color: white;
                background: var(--main-font-color);
                border: solid 1px var(--main-font-color);
                border-radius: 15px;

                &:hover {
                    background: white;
                    color: var(--main-font-color);
                    cursor: pointer;
                }
            }
        }


    }
}



.option-change {
    height: 55px;
    width: 250px;
    display: flex;
    flex-direction: column;

    span {
        width: 300px;
        margin-left: 68px;
        font-family: var(--main-font);
        font-size: clamp(12.8px, 1.05vw, 16px);
    }

    .type {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;

        .icon-change {
            width: 30px;
            height: 30px;
        }

        input {
            width: 165px;
            text-indent: 0px;
            height: 25px;
            border: none;
            background: var(--body-color);
            border-bottom: 1px solid var(--text-font-color);
        }
    }
}

.non-edit {
    pointer-events: none;
}