// ------------------Account Page--------------------
.account-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: calc(100% - var(--side-bar-width));
    background: var(--main-font-color);

    .option {
        min-width: 420px;
        width: 35%;
        height: 70px;
        cursor: pointer;
        text-decoration: none;
        color: var(--main-font-color);
        font-size: clamp(20px, 1.65vw, 25px);
        background: var(--body-color);
        font-family: var(--main-font);
        display: flex;
        align-items: center;
        border-radius: 15px;
        display: flex;
        gap: 15px;

        img {
            margin-left: 115px;

        }

        &:hover {
            background: #F3B28F;
        }

    }

}

//info-table-edit
.info-page {
    display: flex;
    width: calc(100% - var(--side-bar-width));
    height: 100%;
    background: var(--main-font-color);

    .info-User {
        width: 615px;
        height: 485px;
        display: flex;
        background: var(--body-color);
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        margin: auto;

        .table-title {
            font-family: var(--main-font);
            font-style: bold;
            font-size: clamp(20px, 1.65vw, 25px);
            background: 100px;
            margin-top: 15px;
        }

        .info-row {
            display: flex;
            flex-direction: column;
            margin: 5px 0 0;

            span {
                margin-left: 15px;
                font-size: clamp(11.2px, 0.92vw, 14px);
            }

            input {
                border: 1px solid var(--main-font-color);
                height: 40px;
                width: 500px;
                border-radius: 20px;
                margin-top: 5px;
            }
        }

        .differ-1 {
            display: flex;
            margin: 5px 0 0;
            gap: 12px;

            .info-row {
                display: flex;
                flex-direction: column;
                margin: 0;

                span {
                    margin-left: 15px;
                    font-size: clamp(11.2px, 0.92vw, 14px);
                }

                input {
                    border: 1px solid var(--main-font-color);
                    height: 40px;
                    border-radius: 20px;
                    margin-top: 5px;
                }
            }
        }

        .ending-row {
            margin-top: 25px;
            display: flex;
            gap: 20px;

            .close-btn-Edit {
                color: var(--main-font-color);
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 100px;
                background: var(--body-color);
                border: solid 1px var(--main-font-color);
                border-radius: 15px;

                &:hover {
                    background: var(--main-font-color);
                    color: white;
                    cursor: pointer;

                }
            }

            .refresh-btn-Edit {
                display: none;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 130px;
                background: #F3D8D9;
                border-radius: 15px;

                &:hover {
                    background: var(--main-font-color);
                    color: white;
                    cursor: pointer;

                }
            }

            .add-btn-Edit {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 200px;
                color: white;
                background: var(--main-font-color);
                border: solid 1px var(--main-font-color);
                border-radius: 15px;

                &:hover {
                    background: white;
                    color: var(--main-font-color);
                    cursor: pointer;
                }
            }
        }

    }
}

//--------------User Cart Page---------------
.user-cart-page {
    display: flex;
    flex-direction: column;
    width: calc(100% - var(--side-bar-width));
    background: var(--main-font-color);

    .main-title {
        display: flex;
        height: var(--content-name-height);

        span {
            color: white;
            font-family: var(--main-font);
            font-style: bold;
            font-size: clamp(20px, 1.65vw, 25px);
            margin: auto;
        }

        img {
            position: absolute;
            right: 45px;
            top: 30px;
            cursor: pointer;
        }
    }

    .main-content {
        height: calc(100% - var(--content-name-height));
        background: var(--body-color);
        border-radius: 40px 40px 0 0;
        display: flex;

        .temp-list {
            display: flex;
            flex-direction: column;
            width: 50%;
            align-items: center;
            justify-content: center;

            .the-table {
                display: flex;
                flex-direction: column;
                width: 95%;
                height: clamp(368px, 61.7vh, 552px);
                background: #F5D1BB;
                border-radius: 30px;

                .table-name {
                    border-radius: 30px 30px 0 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 50px;
                    color: white;
                    font-family: "Anton";
                    font-size: clamp(20px, 1.65vw, 25px);
                    background: #c38379;
                }

                .table {
                    display: flex;
                    flex-direction: column;
                    border-radius: 0 0 25px 25px;

                    .data-table {
                        margin: 20px auto 25px;
                        width: 95%;
                        height: clamp(240px, 40.23vh, 360px);
                        background: white;

                    }

                }

                .ending-row {
                    margin-bottom: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 25px;

                    .delete {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 40px;
                        width: 80px;
                        background: #F5D1BB;
                        border-radius: 15px;
                        border: 1px solid var(--main-font-color);

                        &:hover {
                            background: var(--main-font-color);
                            color: white;
                            cursor: pointer;


                        }
                    }

                    .print {
                        color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 40px;
                        width: 200px;
                        background: var(--main-font-color);
                        border-radius: 15px;
                        border: 1px solid var(--main-font-color);

                        &:hover {
                            background: white;
                            color: var(--main-font-color);
                            cursor: pointer;


                        }
                    }

                }


            }

            .attention {
                height: 32px;
                margin: 5px auto 5px;
                width: 95%;
                text-align: center;
            }

        }

        .borrowed-list {
            display: flex;
            flex-direction: column;
            width: 50%;
            align-items: center;
            justify-content: center;

            .the-table {
                display: flex;
                flex-direction: column;
                width: 95%;
                height: clamp(368px, 61.7vh, 552px);
                background: #E9C7CA;
                border-radius: 30px;


                .table-name {
                    border-radius: 30px 30px 0 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 50px;
                    color: white;
                    font-family: "Anton";
                    font-size: clamp(20px, 1.65vw, 25px);
                    background: #bd7e81;
                }

                .table {
                    display: flex;
                    flex-direction: column;
                    border-radius: 0 0 25px 25px;

                    .data-table {
                        margin: 20px auto 25px;
                        width: 95%;
                        height: clamp(240px, 40.23vh, 360px);
                        background: white;

                    }

                }

                .ending-row {
                    margin-bottom: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 25px;

                    .print {
                        color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 40px;
                        width: 200px;
                        background: var(--main-font-color);
                        border-radius: 15px;
                        border: 1px solid var(--main-font-color);

                        &:hover {
                            background: white;
                            color: var(--main-font-color);
                            cursor: pointer;
                        }
                    }
                }
            }

            .attention {
                height: 32px;
                margin: 5px auto 5px;
                width: 95%;
                text-align: center;
            }
        }
    }
}