// ---------------Home-Page CSS----------------
.home-page {
    display: flex;
    flex-direction: column;
    width: calc(100% - var(--side-bar-width));
    background: var(--main-font-color);

    .main-title {
        display: flex;
        height: var(--content-name-height);


        span {
            color: white;
            font-family: var(--main-font);
            font-style: bold;
            font-size: clamp(20px, 1.65vw, 25px);
            margin: auto;
        }
    }

    .main-content {
        height: calc(100% - var(--content-name-height));
        background: var(--body-color);
        border-radius: 40px 40px 0 0;
        display: flex;
        flex-direction: column;

        .search-tool {
            display: flex;
            margin: 20px auto 70px;
            gap: clamp(24px, 2vw, 30px);
            justify-content: center;

            .input {
                min-width: 120px;
                border: 0px;
                width: 10vw;
                padding: 10px 20px;
                text-align: center;
                background: var(--body-color);
                border-bottom: var(--main-font-color) 1px solid;
            }

            select {
                background: var(--body-color);
                border: 0px;
                border-bottom: var(--main-font-color) 1px solid;
                font-family: var(--text-font);
                font-size: clamp(12.8px, 1.05vw, 16px);
                color: var(--text-font-color);
                outline: 0px;
                width: 190px;
                height: 46.8px;
                text-align: center;
            }

            option {
                background: white;
            }

            button {
                background: var(--main-font-color);
                color: white;
                padding: 10px 50px;
                height: 47px;

                &:hover {
                    background: white;
                    border: 1px var(--main-font-color) solid;
                    color: var(--main-font-color)
                }
            }
        }

        .action {
            width: 100px;
            display: flex;
            justify-content: center;
            gap: 10px;
        }

        .data-table {
            width: 100%;
            height: calc(100% - 137px);
            background: white;
        }
    }
}

.icon-hover:hover {
    width: 30px;
    height: 30px;
}