.home-page {
    display: flex;
    flex-direction: column;
    width: calc(100% - var(--side-bar-width));
    background: var(--main-font-color);

    .main-title {
        display: flex;
        height: var(--content-name-height);


        span {
            color: white;
            font-family: var(--main-font);
            font-style: bold;
            font-size: 25px;
            margin: auto;
        }
    }

    .main-content {
        height: calc(100% - var(--content-name-height));
        background: var(--body-color);
        border-radius: 40px 40px 0 0;
        display: flex;
        flex-direction: column;

        .search-tool {
            display: flex;
            margin: 20px auto 50px;
            gap: 40px;
            justify-content: center;

            .input {
                border: 0px;
                width: 150px;
                padding: 20px 20px 10px;
                text-align: center;
                background: var(--body-color);
                border-bottom: var(--main-font-color) 1px solid;
            }

            select {
                background: var(--body-color);
                border: 0px;
                border-bottom: var(--main-font-color) 1px solid;
                font-family: var(--text-font);
                font-size: 16px;
                color: var(--text-font-color);
                outline: 0px;
                width: 190px;
                height: 46.8px;
                text-align: center;
            }

            option {
                background: white;
            }

            button {
                background: var(--main-font-color);
                color: white;
                border: 0px;
                border-radius: 15px;
                padding: 10px 50px;
                cursor: pointer;
                font-size: 16px;
                font-family: var(--text-font);

                &:hover {
                    background: white;
                    border: 1px var(--main-font-color) solid;
                    color: var(--main-font-color)
                }
            }
        }

        .action {
            width: 100px;
            display: flex;
            justify-content: space-evenly;
        }

        .data-table {
            width: 100%;
            height: 100%;
            background: white;
        }
    }
}

.info-table {
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 42vw;
    height: 70vh;
    background: var(--body-color);
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: solid var(--text-font-color);

    .table-title {
        font-family: var(--main-font);
        font-style: bold;
        font-size: 25px;
        background: 100px;
        margin-top: 15px;
    }

    .info-row {
        display: flex;
        flex-direction: column;
        margin: 5px 0 0;

        span {
            margin-left: 15px;
            font-size: 14px;
        }

        input {
            border: 1px solid var(--main-font-color);
            height: 40px;
            width: 500px;
            border-radius: 20px;
            margin-top: 5px;
        }
    }

    .info-row-differ1 {
        display: flex;
        gap: 20px;

        .publisher {
            width: 325px;
        }

        .year {
            width: 150px;
        }
    }

    .info-row-differ2 {
        display: flex;
        align-items: center;

        .receipt-date {
            width: 155px;
            margin-right: 20px;
        }

        .book-cost {
            width: 100px;
        }

        .par-value {
            width: 40px;
            margin-top: 25px;
            margin-left: 5px;
            margin-right: 20px;
        }

        .book-status {
            width: 150px;
        }
    }

    .ending-row {
        margin-top: 20px;
        display: flex;
        gap: 20px;

        .close-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 100px;
            background: white;
            border: solid 1px var(--main-font-color);
            border-radius: 15px;

            &:hover {
                background: var(--main-font-color);
                color: white;
                cursor: pointer;

            }
        }

        .add-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 200px;
            color: white;
            background: var(--main-font-color);
            border: solid 1px var(--main-font-color);
            border-radius: 15px;

            &:hover {
                background: white;
                color: var(--main-font-color);
                cursor: pointer;
            }
        }
    }
}

.icon-hover:hover {
    width: 30px;
    height: 30px;
}


/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ac474c;
    border-radius: 15px;
}