//-------Main-body Style-------
.body-app {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    color: var(--text-font-color);
    box-sizing: border-box;
    background-image: url(./homepage.png);
    background-size: cover;
    background-repeat: no-repeat;

    .main-body {
        width: 98vw;
        height: 98vh;
        display: flex;
        margin: auto;
        background: var(--body-color);
        opacity: 95%;

        // --------Side-bar Style----------
        .side-bar {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: var(--side-bar-width);
            height: 100%;
            background: white;
            opacity: 95%;
            gap: 10px;

            // --------Nav-bar Style----------
            .nav-bar {
                list-style-type: none;
                margin: 70px auto;
                padding: 0;
                width: 100%;
                height: 270px;
                display: flex;
                flex-direction: column;
                list-style-type: none;
                padding: 0;

                .list-item {
                    padding: 15px 25%;
                    text-decoration: none;
                    color: var(--text-font-color);
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    font-size: 18px;

                    &:hover {
                        background: #ed9f5a;
                    }
                }
            }

            // --------Sign-out tab Style----------
            .sign-out-tab {
                margin: 150px auto;
            }

            .sign-out {
                color: var(--text-font-color);
                text-decoration: none;
                border-radius: 14px;
                border: 2px solid var(--main-font-color);
                padding: 10px 20px;
                background: white;

                &:hover {
                    background: var(--main-font-color);
                    color: white;
                }
            }
        }

        // --------Account tab Style----------
        .account {
            margin: 10px auto;

            .list-item {
                display: flex;
                align-items: center;
                font-size: 18px;
                text-decoration: none;
                color: white;
                gap: 10px;
                border-radius: 15px;
                padding: 10px 45px;
                background: var(--main-font-color);
                border: 1px solid var(--main-font-color);

                &:hover {
                    font-size: 20px;
                }
            }
        }

    }
}