/* ------------------General CSS----------------------- */
:root {
    /* font-family */
    --main-font: "Anton";
    --text-font: "Questrial";

    /* font-color */
    --main-font-color: #99413e;
    --text-font-color: #8f3034;

    /* body-color */
    --body-color: #f9f4db;

    /* side-bar-width */
    --side-bar-width: 20%;

    /* content-name-height */
    --content-name-height: 10%;
}

body {
    margin: 0;
    font-family: var(--text-font);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon {
    width: 25px;
    height: 25px;
}

/* -----------------INPUT OPTIONS-------------------- */
input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url(./assets/icons/birth.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"],
input[type="date"],
input[type="text"],
input[type="email"],
input[type="password"] {
    font-family: var(--text-font);
    color: var(--text-font-color);
    font-size: clamp(12.8px, 1.05vw, 16px)
}

input:focus {
    border: white;
    outline: none;
}

::placeholder {
    font-family: var(--text-font);
    color: var(--text-font-color);
    font-size: clamp(12.8px, 1.05vw, 16px)
}

input[type='checkbox'] {
    appearance: none;
    background-color: #fff;
    font: inherit;
    width: 1em;
    height: 1em;
    border: 0.15em solid #99413e;
    border-radius: 0.15em;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type='checkbox']::before {
    content: '';
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em white;
    background: CanvasText;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type='checkbox']:checked {
    background: #99413e;
}

input[type='checkbox']:checked::before {
    transform: scale(1);
}

input {
    text-indent: 10px;
}

// -----------Scroll Bar CSS------------
/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ac474c;
    border-radius: 15px;
}


//--------------Button CSS--------------
button {
    border: 1px solid;
    border-radius: 15px;
    cursor: pointer;
    font-size: clamp(12.8px, 1.05vw, 16px);
    font-family: var(--text-font);

}

// ------------Over-lay CSS--------------
#overlay {
    display: none;
    position: fixed;
    z-index: 5;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background: rgba(0, 0, 0, 0.2);
}

//---------Slide-warning CSS-----------------

.closebtn {
    color: var(--main-font-color);
    font-weight: bold;
    float: right;
    font-size: clamp(17.6px, 1.45vw, 22px);
    line-height: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.alert {
    width: 450px;
    height: 65px;
    display: none;
    opacity: 0;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    background-color: white;
    align-items: center;
    position: absolute;
    right: 20px;
    gap: 5px;
    border-radius: 15px;
    top: 11px;
}

.warning-icon {
    border-radius: 15px 0 0 15px;
    width: 65px;
    height: 65px;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 35px;
        height: 35px;
    }
}

//---------Slide-success CSS-----------------
.closebtn {
    color: var(--main-font-color);
    font-weight: bold;
    float: right;
    font-size: clamp(17.6px, 1.45vw, 22px);
    line-height: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.success {
    width: 350px;
    height: 65px;
    display: none;
    opacity: 0;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    background-color: white;
    align-items: center;
    position: absolute;
    right: 20px;
    gap: 5px;
    border-radius: 15px;
    top: 11px;
}

.success-icon {
    border-radius: 15px 0 0 15px;
    width: 65px;
    height: 65px;
    background: #19B745;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 35px;
        height: 35px;
    }
}