//-------Main-body Style-------
.body-app {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    color: var(--text-font-color);
    box-sizing: border-box;
    background-image: url(./homepage.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    .main-body {
        width: 98vw;
        height: 98vh;
        display: flex;
        margin: auto;
        background: var(--body-color);
        opacity: 95%;

        // --------Side-bar Style----------
        .side-bar {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: var(--side-bar-width);
            height: 100%;
            background: white;
            opacity: 95%;
            gap: 1.4vh;

            // --------Nav-bar Style----------
            .nav-bar {
                list-style-type: none;
                margin: 9.8vh auto;
                padding: 0;
                width: 100%;
                min-height: 37.83vh;
                display: flex;
                flex-direction: column;
                list-style-type: none;
                padding: 0;

                .list-item {
                    padding: 2.1vh 25%;
                    text-decoration: none;
                    color: var(--text-font-color);
                    display: flex;
                    align-items: center;
                    gap: 2.1vh;
                    font-size: 18px;

                    &:hover {
                        background: #f8dcc4;
                    }
                }

                a.active {
                    background: #f8dcc4;
                }
            }

            // --------Sign-out tab Style----------
            .sign-out-tab {
                margin: 18vh auto;
                cursor: pointer;
            }

            .sign-out {
                color: var(--text-font-color);
                text-decoration: none;
                border-radius: 14px;
                border: 2px solid var(--main-font-color);
                padding: 1.4vh 1.87vw;
                background: white;

                &:hover {
                    background: var(--main-font-color);
                    color: white;
                }
            }
        }

        // --------Account tab Style----------
        .account {
            margin: 1.4vh auto;

            .list-item {
                display: flex;
                align-items: center;
                font-size: 18px;
                text-decoration: none;
                color: white;
                gap: 1.4vh;
                border-radius: 15px;
                padding: 1.4vh 4.22vw;
                background: var(--main-font-color);
                border: 1px solid var(--main-font-color);

                &:hover {
                    font-size: 20px;
                }
            }
        }

        // -----------Accept table CSS------------
        .accept-signout {
            z-index: 10;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 25vw;
            height: 15vh;
            background: var(--body-color);
            display: none;
            flex-direction: column;
            align-items: center;
            border-radius: 1.87vw;
            border: 2px solid var(--text-font-color);

            .accept-title {
                margin-top: 2.38vh;
                margin-bottom: 2.8vh;
            }

            .accept-reject {
                display: flex;
                gap: 1.87vw;

                .accept-btn {
                    background: white;
                    color: var(--text-font-color);
                    padding: 1.4vh 1.87vw;

                    &:hover {
                        background: var(--text-font-color);
                        color: white;
                    }
                }

                .reject-btn {
                    background: var(--text-font-color);
                    color: white;
                    padding: 1.4vh 2.81vw;

                    &:hover {
                        background: white;
                        color: var(--text-font-color);
                    }
                }
            }
        }
    }
}